@charset "UTF-8";
    /*
        em HTML id    = # em CSS
        em HTML class = . em CSS
    */
body {
    background-color: #0CABA8;
    color: #012525;
}

h1 {
    text-align: justify;
}

#text-principal {
    text-align: center;
    background-color: #012525;
    color: white;
}

h2 {
    text-align: right;
}

.text {
    text-align: justify;
}