@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
    background-attachment: fixed;
}

body{
    background-image: linear-gradient(to top, #007565ce,#589A8D, #8FC1B5);
}

main{
    background-color: #8FC1B5;
    border-radius: 10px;
    box-shadow: 3px 3px 2px #265C4B;
    padding: 10px;
    margin: auto;
    width: 600px;
}

h1{
    color: #265C4B;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}

h2{
    color: #007566;
}

p{
    text-align: justify;
}
